*.o
*.obj
*.exe
*.dylib
*.so
*.a
*.la
*.in
*.dSYM
.deps
.libs
.DS_Store
aclocal.m4
Makefile
Makefile.in
/configure
/autom4te.cache
/depcomp
/compile
/config.h
/config.status
/config.cache
/config.log
/install-sh
/missing
/stamp-h*
/confdefs.h
/test-driver
